<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>726544925587-ljhuc1gk6q1tod8ctbvmov19vgujve78.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.726544925587-ljhuc1gk6q1tod8ctbvmov19vgujve78</string>
	<key>API_KEY</key>
	<string>AIzaSyB_HwHWVk6Vd7zQMcVhtQi11Nf_0sOpYXE</string>
	<key>GCM_SENDER_ID</key>
	<string>726544925587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.phillipsexton.Login-Screen</string>
	<key>PROJECT_ID</key>
	<string>d-at-d</string>
	<key>STORAGE_BUCKET</key>
	<string>d-at-d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:726544925587:ios:005ff6e8f6274551</string>
	<key>DATABASE_URL</key>
	<string>https://d-at-d.firebaseio.com</string>
</dict>
</plist>